<div id="member-list">
    <% members.forEach(member=> { %>
        <input type="radio" name="member" id="">
        <li class="member">
            <%- member.member_fullName %>
                <%- member.memberEmail %> <button class="delete btn btn-danger">delete</button>
        </li><input>
        <% }) %>

            <textarea name="" id="" cols="30" rows="10">
                <a href="www.brsyazilim.net">en yeni gönderiler için tıklayın</a>
            </textarea>
            <button id="mailto-members">SEÇİLİ OLANLARA MAİL GÖNDER</button>
</div>