#side-nav {
  width: 15%;
}
#admin-menu {
  width: 100%;
  list-style-type: none;
}
.side-menuItem {
  padding: 1rem;
  background-color: #fff;
  color: black;
  font-size: larger;
}
#add-post {
  width: 75%;
  padding: 1rem;
}
#add-post-header,
#add-post-img,
.top-input-text {
  width: 100%;
  padding: 3px;
  outline: none;
  border: none;
  border-bottom: 1px silver;
}
#add-post-description,
.list-input-text {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px silver;
}
#add-post-btn,
.admin-btn {
  padding: 8px;
  font-size: large;
  box-shadow: inset 0 0 3px black;
}
.login-form {
  width: 100%;
}
#admin-username {
  width: 30%;
  margin: auto;
  border: 2px solid darkslateblue;
}
#admin-password {
  width: 30%;
  margin: auto;
  border: 2px solid darkslateblue;
}
#member-list {
  width: 100%;
  padding: 3rem;
}
