<div class="login-form">
    <input type="text" name="admin-username" id="admin-username">
    <input type="password" name="" id="admin-password">
    <button class="admin-btn" id="login-admin">giriş</button>
</div>