<div id="about-container">
    <img id="about-banner" src="images/about-banner.jpg" alt="">
    <h2 id="about-heading">HAKKIMDA</h2>
    <p id="about-text">Merhaba ben berkay SARAÇ 2018 yılında yazılım geliştirmeye merakım neticesinde başladım. Udemy
        platformundan aldığım
        c++ kursu ile yazılım geliştirme evrenine giriş yaptım. Tek amacım yapılamayan bir şeyi yapmak, herkesin
        kullanabiliceği, yararlanabiliceği kısacası bilgisayar başında geçirdikleri vakti daha verimli kılabilecek
        programlar inşaa etmekti. Hala mottom bu çünkü yazılım özgür inovasyon herkes için olmalıdır. java ile devam
        ettiğim
        yolculuğum c# ile kesişti 2019 yılından 2021 yılına kadar c# ile masaüstü programlar'da geliştirme
        yaptım.Ve
        ardından yolum web ile kesişti. Açıkçası javascripte hep hayranlık besliyordum javascripti keşfedince daha çok
        hayran oldum, devasa bir ekosistemi ve çok büyük bir geliştirici kitlesi var ahtapot gibi tüm platformlarda
        varlığını sürdürüyor, güçlendiriyordu. Neredeyse her gün javascript bünyesinde yeni teknolojiler yeni
        kütüphaneler
        çıkıyordu. Javascript ile herşey yapılabildiğini ve c# dan daha kolay olduğunu öğrenince tamamen javascripte
        geçiş
        yaptım ve kariyerimde ki en köklü teknoloji değişikliğini yaptım hala javascript ile çalışıyorum web
        uygulamaları,
        web tasarımları ve masaüstü programlar yapmaktayım.</p>
</div>
