<!doctype html>
<html lang="tr">

<head>
    <title>BRS YAZILIM</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Roboto+Flex:opsz@8..144&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="main.css">

    <script id="pixel-chaty" async="true" src="https://cdn.chaty.app/pixel.js?id=lL9jlaqI"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Varela+Round&display=swap"
        rel="stylesheet">
    <script src="srcript.js"></script>
</head>

<body>



    <header>
        <h1 id="heading">BRS {-BLOG}</h1>
        <img id="logo" src="images/brs-software-new-logo.png" alt="">
        
    </header>
    <main>
        <nav>
            <ul id="main-nav">
                <a class="box" href="/">Ana Sayfa</a>

                <a class="box" href="/projects">Projeler</a>
                <a class="box" href="/contact">İletişim</a>
                <a class="box" href="/about">Hakkımda</a>
                <a class="box" href="/posts">Postlar</a>
                
            </ul>
        </nav>
        <%- body %>
    </main>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.instagram.com/berkay.js_dev/"><i class="fa fa-instagram"
                        aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/berkay-sara%C3%A7-22159b241/"><i
                        class="fa fa-linkedin" aria-hidden="true"></i></a><a
                    href="https://twitter.com/javascript_dev0"><i class="fa fa-twitter" aria-hidden="true"></i></a><a
                    href="https://github.com/BerkaySarac-hub"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>

            <p class="copyright">BRS YAZILIM © 2022</p>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/61434cf925.js" crossorigin="anonymous"></script>
    <script id="pixel-chaty" async="true" src="https://cdn.chaty.app/pixel.js?id=lL9jlaqI"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/632ce52e37898912e96ac8ff/1gdjlug47';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>