<form action="/yonetim/proje-ekle" method="post">
    <input type="text" name="project_header" placeholder="proje başlığı" id="project-header">
    <textarea cols="50" name="project_description" placeholder="proje açıklaması" id="project-description"></textarea>
    <input type="text" placeholder="proje url " name="project_url" id="project-url">
    <input type="submit" value="TAMAMLA" id="tamamla_btn">
</form>