<img id="project-banner" src="images/projects-banner.jpg" alt="">

<% projects.forEach(project=> { %>
    <div class="project-container">
        <h3 class="project-header">
            <%= project.projectHeader %>
        </h3>
        <p class="project-details"><%= project.projectDescription %> </p>
        <a class="project-url" target="_blank" href="<%=project.projectUrl%>" >proje link.</a>
    </div>
    <% }) %>