<form action="">
    <input type="text" name="" required placeholder="Ad Soyad" id="fullname">
    <input type="email" name="" required placeholder="email adresiniz" id="email">
    <button id="register-btn">Tamamla</button>
</form>