<form action="/signup-newsletter" method="post">
    <input type="email" name="eposta" required placeholder="email adresiniz" id="email">
    <input type="submit" value="Kaydı tamamla" id="register-btn"/>
</form>