<% validation_error.forEach(element=> { %>

    <div class="card bg-warning text-white shadow">
        <div class="card-body">
            <%-element.msg%>

        </div>
    </div>
    <% }) %>
        <% success_message.forEach(element=> { %>

            <div class="card bg-success text-info shadow">
                <div class="card-body">
                    <%-element.msg%>

                </div>
            </div>
            <% }) %>